extends layout.pug
//- login.pug

block append headers
    link(href='/local/signin.css', rel='stylesheet')

block content
    form.form-signin
        div(style='text-align: center;')
            img.mb-4(src='/local/icon.png',width='72',height='100%')
        h1.h3.mb-3.font-weight-normal(style='text-align:center;') Sistema PADD
        label.sr-only(for='inputEmail') Token
        input.form-control(type='text',id='token',placeholder='Token',required,autofocus)
        div.checkbox.mb-3
            label
                input(type='checkbox',value='remember-me')
                = ' Lembrar-se'
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Entrar
        p.mt-5.mb-3.text-muted &copy; 2020